<p>
  <strong>Слово:</strong>
  <%= @card.original_text %>
</p>
 
<p>
  <strong>Перевод:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong>Время пересмотра:</strong>
  <%= @card.review_date %>
</p>

<p>
  <%= image_tag @card.image_url if @card.image? %> 
</p>

<%= link_to "Редактировать", edit_card_path(@card) %>/ 
<%= link_to "Удалить", card_path(@card), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить безвозвратно эту флэш-карточку?' } %><br>
<%= link_to 'Назад', cards_path %>
