<p>
  <strong>Колода:</strong>
  <%= @deck.title %>
</p>

<%= render "cards/cards" %> 

<div>
  <%= link_to "Добавить карточку", new_deck_card_path(@deck.id) %> / 
  <%= link_to "Показать карточки", deck_cards_path(@deck.id) %>
</div> 
<div>
  <%= link_to "Редактировать", edit_deck_path(@deck) %>/ 
  <%= link_to "Удалить", deck_path(@deck), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить безвозвратно эту колоду? Если вы нажмете ОК, то все флэш-карточки, содержащиеся в этой колоде, будут удалены' } %>
</div>
<div><%= link_to 'Назад', decks_path %></div>
