<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",               "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container">

    <header class="row page-header clearfix">
      <h1><%= link_to 'Флэшкарточкер', root_path, class: "logo" %></h1>
      <ul class="nav nav-pills navbar-right navi">
        <li><%= link_to 'Все карточки', cards_path %></li>
        <li><%= link_to 'Все карточки', "#" %></li>
      </ul>
    </header>
    
    <section class="content">
      <%= yield %>
    </section>
    
  </section>
</body>

</html>
